.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

div {
  font-size: 20px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table, tbody {
  border: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
}

td {
  position: relative;
  border: 0;
  margin: 0;
  height: 60px;
  width: 60px;
  padding: 0;
}

.floor {
  background-image: url("./images/tiles/floor-small.png");
  background-size: cover;
}

.wall {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #000000;
  background-size: cover;
}

.entity {
  max-height: 50px;
  width: auto;
}
