.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

div {
  font-size: 20px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table, tbody {
  border: 0;
  padding: 0;
  margin: 0 auto;
  margin-top: 20px;
}

td {
  border: 0;
  margin: 0;
  height: 40px;
  width: 40px;
  padding: 0;
}

.floor {
  background-image: url("./images/floor-small.png");
  background-size: cover;
}

.wall-top {
  background-image: url("./images/wall-texture-top.png") ;
}

.wall-top-border {
  background-image: url("./images/wall-top.png");
}

.wall-left {
  background-image: url("./images/wall-left.png");
}

.wall-right {
  background-image: url("./images/wall-right.png");
}

.wall-bottom {
  background-image: url("./images/wall-bottom.png");
}

.corner-bottom-left {
  background-image: url("./images/corner-bottom-left.png");
}

.corner-bottom-right {
  background-image: url("./images/corner-bottom-right.png");
}

.corner-top-left {
  background-image: url("./images/corner-top-left.png");
}

.corner-top-right {
  background-image: url("./images/corner-top-right.png");
}

.corner-bottom-left-convex {
  background-image: url("./images/wall-bottom.png"), url("./images/wall-left.png");
}

.corner-bottom-right-convex {
  background-image: url("./images/wall-bottom.png"), url("./images/wall-right.png");
}

.corner-top-left-convex {
  background-image: url("./images/wall-top.png"), url("./images/wall-left.png");
}

.corner-top-right-convex {
  background-image: url("./images/wall-top.png"), url("./images/wall-right.png");
}

.wall {
  background-color: #000000;
  background-size: cover;
}

.solo-wall-left {
  background-image: url("./images/wall-bottom.png"), url("./images/wall-left.png"), url("./images/wall-top.png");
}

.solo-wall-right {
  background-image: url("./images/wall-bottom.png"), url("./images/wall-right.png"), url("./images/wall-top.png");
}

.double-corner-right {
  background-image: url("./images/corner-top-right.png"), url("./images/corner-bottom-right.png");
}

.double-corner-left {
  background-image: url("./images/corner-top-left.png"), url("./images/corner-bottom-left.png");
}

.entity {
  max-height: 35px;
  width: auto;
}
