.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div {
  font-size: 20px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table, tbody {
  border: 0;
  padding: 0;
  margin: 0;
}

td {
  border: 0;
  margin: 0;
  height: 40px;
  width: 40px;
  padding: 0;
}

.floor {
  background-image: url("./images/floor-small.png");
  background-size: cover;
  max-width: 30;
  height: auto;
}

.wall-top {
  background-image: url("./images/wall-texture-top.png");
  background-size: cover;
  max-width: 30;
  height: auto;
}

.wall-top-border {
  background-image: url("./images/wall-top.png");
  background-size: cover;
  max-width: 30;
  height: auto;
}

.wall-left {
  background-image: url("./images/wall-left.png");
  background-size: cover;
  max-width: 30;
  height: auto;
}

.wall-right {
  background-image: url("./images/wall-right.png");
  background-size: cover;
  max-width: 30;
  height: auto;
}

.wall-bottom {
  background-image: url("./images/wall-bottom.png");
  background-size: cover;
  max-width: 30;
  height: auto;
}

.corner-bottom-left {
  background-image: url("./images/corner-bottom-left.png");
  background-size: cover;
  max-width: 30;
  height: auto;
}

.corner-bottom-right {
  background-image: url("./images/corner-bottom-right.png");
  background-size: cover;
  max-width: 30;
  height: auto;
}

.corner-top-left {
  background-image: url("./images/corner-top-left.png");
  background-size: cover;
  max-width: 30;
  height: auto;
}

.corner-top-right {
  background-image: url("./images/corner-top-right.png");
  background-size: cover;
  max-width: 30;
  height: auto;
}
